<h1>2D-Plot of all features</h1>
<canvas id="plot" width="1020" height="520"></canvas>
<div class="panel panel-default">
     <div class="panel-heading"><h3 class="panel-title">Status-Info</h3></div>
<div class="panel-body" id="log"></div>
</div>
