<h3>Import Lipid DataSet</h3>
<h4>File .sdf selection</h4>
<%= form_tag('/import_lipids/import', :multipart => true, :method=>:post) do %>
<%= file_field :file, :name %>
<%= submit_tag 'load' %>
<% end %>
